body {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  
  background: url('../img/crossword.png');
  
  image-rendering: optimizeQuality;
}

a {
  color: rgb(118, 173, 199);
  text-decoration: none;
  font-size: 13px;
}

a:hover,
a:focus {
  color: rgb(91, 130, 148);
}

a:active,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

/****************************************
 *  Main input
**/
#location-input-row {
  position: relative;
  z-index: 50;
}

#location-input-container {
  position: relative;
  z-index: 50;
  
  margin-top: 50px;
  padding-right: 50px;
}

#location-input-container input {
  width: 100%;
  
  padding: 10px 15px;
  
  font-size: 22px;
  font-weight: 300;
  
  border: none;
  border-bottom: 1px solid #BDBDBD;
  
  background-color: rgba(0, 0, 0, 0);
}

#location-input-container input:focus {
  outline: none;
  border-bottom: 1px solid rgb(157, 220, 250);
}

/****************************************
 *  Preloaders
**/
.preloader {
  display: none;
}

.preloader img {
  margin-top: -80px;
  height: 250px;
}

#preloader-locations {
  position: absolute;
  top: 0;
  right: -50px;
}

#preloader-locations img {
  height: 170px;
  
  margin-top: -60px;
  margin-right: 20px;
}

/****************************************
 *  Search options
**/
#options-opener {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  
  opacity: 0.5;
  
  height: 50px;
  
  cursor: pointer;
  
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  
  transform: rotate(0deg);
  transition: all 1s ease-in-out 0.6s;
}

#options-opener.open {
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}

#options-row {
  height: 0px;
  
  padding: 0;
}

#options-container {
  opacity: 0;
  z-index: 20;
  min-height: 100px;
  
  margin-top: -165px;
  margin-bottom: 20px;
  
  transition: margin-top 1s ease-in-out 0.6s, opacity 0.6s ease-in-out;
}

#options-container.open {
  opacity: 1;
  
  margin-top: 15px;
  
  transition: margin-top 1s ease-in-out, opacity 0.6s ease-in-out 1s;
}

.form-group {
  margin-bottom: 0;
  
  font-family: Lato, Raleway, sans-serif;
  font-size: 18px;
}

.form-group > label {
  font-weight: 400;
}

#free-text-only-input {
  display: none;
}

.form-group .option {
  height: 40px;
  
  margin-bottom: 0;
  padding-top: 7px;
  
  font-weight: 300;
  
  cursor: pointer;
}

.form-group .option.disabled {
  color: #A9A9AB;
}

.form-group select,
.form-group input {
  -webkit-appearance: none;
  appearance: none;
  
  height: 40px;
  
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  
  font-size: 18px;
}

.form-group input {
  width: 100%;
  
  border-bottom: 1px solid #BDBDBD;
}

.form-group input:focus {
  outline: none;
  border-bottom: 1px solid rgb(157, 220, 250);
}

.form-group select:focus {
  box-shadow: none;
  border: none;
}

.form-control {
  padding: 0;
}

#sort-order-select {
  display: none;
}

/****************************************
 *  Dropdown
**/
#results-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  
  padding: 0;
  padding-right: 30px;
  
  font-size: 18px;
  
  list-style-type: none;
}

#results-container > li {
  position: relative;
  
  margin-top: -1px;
  padding: 10px 15px;
  
  background-color: rgba(255, 255, 255, 0.95);
}

#results-container > li:first-child {
  border-top: 1px solid rgb(218, 243, 255);
}

#results-container > li.greyed {
  background-color: rgba(245, 252, 255, 0.95);
}

#results-container > li:hover {
  background-color: rgb(218, 243, 255);
  
  cursor: pointer;
}

/****************************************
 *  Pictures
**/
#location-pictures-row {
  margin-top: 35px;
}

.location-picture {
  display: inline-block;
  position: relative;
  width: 100%;
  opacity: 1;
  
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  
  background-color: rgba(255, 255, 255, 0.6);
}

#location-pictures1 .location-picture {
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

#location-pictures2 .location-picture {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#location-pictures3 .location-picture {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.location-picture img {
  position: relative;
  width: 100%;
  
  margin-bottom: 15px;
}

.location-picture h5 {
  position: relative;
  
  font-family: 'Averia Sans Libre', Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.location-picture .picture-filtering {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  background: url('../img/cream_pixels.png');
}